<div
	class="card-wrapper noselect {{ isInCart() ? 'is_animating' : '' }}"
	(click)="addToCart()"
	(contextmenu)="removeFromCart($event)"
	[style.--card-color]="getColor()"
	[style.--card-delay]="(index * 100).toString() + 'ms'"
>
	<div
		class="card-in-stock-indicator"
		tooltip="Quantity"
		*ngIf="showQuantity && isUnlocked() && hasEnoughInStock()"
	>
		{{ product.quantity }}
	</div>
	<div
		class="card card-first {{ fitToSize ? 'fit-to-size' : '' }}"
		[ngClass]="formClasses()"
		[style.--card-color]="getColor()"
		[style.background-image]="
			'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + getBackground() + ')'
		"
	>
		<div class="card-img">
			<img src="{{ isUnlocked() ? product.imageURL : lockedImageUrl }}" />
			<div *ngIf="showOutOfStock && isUnlocked()" class="out-of-stock">
				<h1>OUT OF STOCK</h1>
			</div>
		</div>
		<div class="card-info">
			<p>{{ isUnlocked() ? product.name : "???" }}</p>
			<div class="card-price">${{ isUnlocked() ? product.price : "???" }}</div>
		</div>
		<div class="card-glow"><div class="card-top"></div></div>
		<div class="card-glow"><div class="card-right"></div></div>
		<div class="card-glow"><div class="card-bottom"></div></div>
		<div class="card-glow"><div class="card-left"></div></div>
	</div>
	<div
		class="card card-second {{ fitToSize ? 'fit-to-size' : '' }}"
		[ngClass]="formClasses()"
		[style.background-image]="
			'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + getBackground() + ')'
		"
		*ngIf="amountOfTimesInCart() >= 2 && enableStacking"
	>
		<div class="card-img">
			<img src="{{ isUnlocked() ? product.imageURL : lockedImageUrl }}" />
		</div>
		<div class="card-info">
			<p>{{ isUnlocked() ? product.name : "???" }}</p>
			<div class="card-price">${{ isUnlocked() ? product.price : "???" }}</div>
		</div>
		<div class="card-glow"><div class="card-top"></div></div>
		<div class="card-glow"><div class="card-right"></div></div>
		<div class="card-glow"><div class="card-bottom"></div></div>
		<div class="card-glow"><div class="card-left"></div></div>
	</div>
</div>
