/* Cards */

.card-wrapper {
	position: relative;
	width: 14rem;
	height: 18.66rem;
	aspect-ratio: 3/4;
	opacity: 0%;

	animation-name: fadeIn;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-delay: var(--card-delay);
}

.card-wrapper.is_animating {
    animation-name: fadeIn, card-float;
    animation-duration: 500ms, 3s;
    animation-fill-mode: forwards, unset;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-out, ease-in-out;
	animation-delay: var(--card-delay), 0ms;
}

@keyframes fadeIn {
	from {
		transform: translate(0, 20px);
		opacity: 0%;
	}
	to {
		transform: translate(0, 0px);
		opacity: 100%;
	}
}

.card-wrapper:has(.card-second) > .card-first {
	transform: translateX(-0.7rem) rotate(-3deg);
}

.card-second {
	top: -100%;
	transform: translate(0.7rem) rotate(3deg);
}

.card-wrapper:has(.fit-to-size) {
	width: 100%;
	height: auto;
}

.card {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-flex !important;
	flex-direction: column;
	justify-content: space-between;
	cursor: not-allowed;

	box-sizing: border-box;
	border: solid 0.25rem color-mix(in srgb, var(--card-color, var(--text-500)), black 25%);
	background-size: 35px;
}

.card.card-selected {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0.5rem 5rem 0.1rem black;
	/* animation: card-float 3s infinite ease-in-out; */
}

.card.card-selected::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 0px 0px transparent);
	background: linear-gradient(
		-45deg,
		color-mix(in srgb, var(--card-color, var(--text-500)), transparent 75%) 40%,
		color-mix(in srgb, var(--text), transparent 75%) 50%,
		color-mix(in srgb, var(--card-color, var(--text-500)), transparent 75%) 60%
	);
	background-size: 200%;
	background-position-x: -200%;
	animation: card-shimmer 3s infinite linear;
}

.card.card-unlocked {
	cursor: pointer;
}

.card:not(.card-selected).card-blocked {
	cursor: not-allowed;
}

@keyframes card-shimmer {
	to {
		background-position-x: 200%;
	}
}

@keyframes card-float {
	50% {
		transform: translateY(-0.5vw);
	}

	to {
		transform: translateY(0%);
	}
}

/* Card Glow */

.card > .card-glow {
	position: absolute;
	filter: drop-shadow(0 0 0.25rem black);
}

.card.card-selected > .card-glow {
	filter: drop-shadow(0 0 0.25rem var(--card-color));
}

.card.card-selected > .card-glow > div {
	animation: glow-brighten 2s infinite linear;
}

.card > .card-glow > div {
	background-color: var(--card-color);
}

@keyframes glow-brighten {
	from {
		filter: brightness(1);
	}
	50% {
		filter: brightness(2);
	}
	to {
		filter: brightness(1);
	}
}

.card.card-unlocked > .card-glow > div {
	background-color: var(--card-color);
}

/* Card Side Graphics */

.card > .card-glow:has(.card-top) {
	width: 50%;
	height: 0.5rem;
	top: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.card .card-top {
	width: 100%;
	height: 100%;
	clip-path: polygon(0 100%, 10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.card > .card-glow:has(.card-right) {
	width: 0.5rem;
	height: 50%;
	top: 50%;
	right: -0.5rem;
	transform: translateY(-50%);
}

.card .card-right {
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%, 0% 0%);
}

.card > .card-glow:has(.card-bottom) {
	width: 50%;
	height: 0.5rem;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.card .card-bottom {
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%, 0% 0%);
}

.card > .card-glow:has(.card-left) {
	width: 0.5rem;
	height: 50%;
	top: 50%;
	left: -0.5rem;
	transform: translateY(-50%);
}

.card .card-left {
	width: 100%;
	height: 100%;
	clip-path: polygon(100% 100%, 0% 90%, 0% 10%, 100% 0%, 100% 100%);
}

/* Card Img */

.card > .card-img {
	position: relative;
	display: flex;
	align-items: center;
	height: 80%;
}

.card > .card-img > img {
	max-width: 100%;
	filter: drop-shadow(0px 3px 5px rgb(0, 0, 0));
}

/* Card Info */

.card > .card-info {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 20%;

	font-size: 14px;
	border-top: solid 0.25rem color-mix(in srgb, var(--card-color, var(--text-500)), black 50%);
	background: color-mix(in srgb, var(--card-color), black 75%);
}

.card > .card-info > p {
	text-align: center;
}

.card > .card-info > .card-price {
	padding: calc(1px + 0.25vw) calc(3px + 0.5vw) calc(1px + 0.25vw) calc(3px + 0.5vw);
	border: solid 0.15rem var(--accent);
	border-radius: 1rem;
	color: var(--accent);
}

.card-in-stock-indicator {
	all: unset;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	margin-top: -0.5rem;
	margin-left: -0.5rem;

	width: 2.5rem;
	height: 2.5rem;

	border-radius: 50%;
	background-color: var(--card-color);
	border: solid var(--accent-900) 0.2rem;
	font-size: 1.5rem;
	font-weight: bold;
	filter: drop-shadow(0px 0px 4px var(--card-color));
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

/* .card:has(.card-selected) .card-in-stock-indicator {
	animation: card-float 3s infinite ease-in-out;
} */

/* Card Out of Stock */

.card:not(.card-out-of-stock) > .card-img > .out-of-stock {
	display: none;
}

.card.card-out-of-stock {
	filter: brightness(0.25);
}

.card.card-out-of-stock > .card-img > .out-of-stock {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateZ(-45deg);
}

.card.card-out-of-stock > .card-img > .out-of-stock > h1 {
	-webkit-text-stroke: 1px black;
	text-align: center;
	user-select: none;
	font-size: 2.5rem;
	color: var(--card-color);
	text-shadow: 0 0 5rem white;
}
