/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
}

nav > #nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
}

nav > #nav-left > h1 {
    text-align: center;
    vertical-align: middle;
}

nav > #nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 46vw;
    column-gap: 1vw;
    margin-right: 2vw;
}

nav > #nav-right > #nav-separator {
    height: 10vh;
}

nav > #nav-right #nav-username {
    font-weight: bolder;
}