<!-- Logged In -->
<nav *ngIf="credentialsService.isLoggedIn(); else notLoggedIn" >
  <div id="nav-left">
    <h1>Alchemy Alley</h1>
  </div>
  <div id="nav-right">
    <img id="nav-separator" src="https://i.imgur.com/tX3jppf.png">
    <div>
      <p>Welcome,</p>
      <p id="nav-username">{{credentialsService.getUser()!.username}}</p>
    </div>
    <div [routerLink]="'/login'" (click)="credentialsService.removeCurrentUser()" class="button"><i class="fa-solid fa-right-from-bracket"></i>Logout</div>
  </div>
</nav>

<!-- Logged Out -->
<ng-template #notLoggedIn>
  <nav>
    <div id="nav-left">
      <h1>Alchemy Alley</h1>
    </div>
  </nav>
</ng-template>

<div id="nav-divider">
  <img src="assets/navbar-edge-left.png">
  <img id="nav-middle" src="assets/navbar-middle.png">
  <img src="assets/navbar-edge-right.png">
</div>

<router-outlet></router-outlet>