<!-- Logged In -->
<nav *ngIf="credentialsService.isLoggedIn(); else notLoggedIn" >
  <h1>Alchemy Alley</h1>
  <div id="nav-right">
    <img id="nav-separator" src="https://cdn.icon-icons.com/icons2/3252/PNG/512/divider_short_regular_icon_204482.png">
    <div id="nav-welcome">
      <p>Welcome,</p>
      <p id="nav-username">{{credentialsService.getUser()!.username}}</p>
    </div>
    <div [routerLink]="'/login'" (click)="credentialsService.removeCurrentUser()" class="button"><i class="fa-solid fa-right-from-bracket"></i>Logout</div>
  </div>
</nav>

<!-- Logged Out -->
<ng-template #notLoggedIn>
  <nav>
    <h1>Alchemy Alley</h1>
  </nav>
</ng-template>
<router-outlet></router-outlet>