<!-- Logged In -->
<nav *ngIf="credentialsService.isLoggedIn(); else notLoggedIn" >
  <h1>Alchemy Alley</h1>
  <a *ngIf="!credentialsService.isAdmin()" routerLink="/catalog">Catalog</a>
  <a *ngIf="!credentialsService.isAdmin()" routerLink="/cart">Cart</a>
  <button [routerLink]="'/login'" (click)="credentialsService.removeCurrentUser()">Logout</button>
</nav>

<!-- Logged Out -->
<ng-template #notLoggedIn>
  <nav>
    <h1>Alchemy Alley</h1>
  </nav>
</ng-template>
<router-outlet></router-outlet>