<div class="couldron-continaer">
	<div class="cauldron">
		<img class="swirl" src="/assets/Swirl.png">
		<ul>
			<li *ngFor="let product of products">
				<app-card
					[product]="product"
					[enableStacking]="false"
					[showQuantity]="false"
					[showOutOfStock]="false"
					(removedEvent)="this.getProducts()"
				></app-card>
			</li>
			<li class="craft-result" *ngIf="isPurchased() && getUnlocked()">
				<h3>PRODUCT UNLOCKED</h3>
				<app-card [product]="getUnlocked()"></app-card>
			</li>
			<li class="craft-result" *ngIf="isPurchased() && !getUnlocked()">
				<h3>BETTER LUCK NEXT TIME</h3>
			</li>
		</ul>
	</div>
</div>
<div class="card-information">
	<div class="heading">
		<h3>Cart</h3>
		<div class="underline"></div>
	  </div>
	<h5>Total: ${{getTotalPrice()}}</h5>
	<div class="input">
		<p>Name on Card:</p>
		<input type="text" id="name" name="name" maxlength="19" placeholder="Wizard Wizardington" (change)="(0)" required #name>
	</div>
	<br>
	<div class="input">
		<p>Credit Card Number:</p>
		<input type="text" id="cc-number" name="cc-number" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="1234 5678 9012 3456" (change)="(0)" required #card>
	</div>
	<br>
	<div class="input">
		<p>Expiration Date (MM/YY):</p>
		<input type="text" id="cc-expiration" name="cc-expiration" inputmode="numeric" pattern="(0[1-9]|1[0-2])\/?([0-9]{2})" placeholder="MM/YY" (change)="(0)" required #exp>
	</div>
	<br>
	<div class="input">
		<p>CCV:</p>
		<input type="text" id="cc-ccv" name="cc-ccv" inputmode="numeric" pattern="[0-9]{3,4}" placeholder="123" (change)="(0)" required #ccv>
	</div>
	<br>
	<button class="button" [disabled]="!isCartFull() || hasInvalidFields(name, card, exp, ccv)" (click) = "handlePurchase()" type="submit">
		<i class="fa-solid fa-wand-magic-sparkles"></i>
		Purchase Cart
	</button>
</div>
