<h1>Cart</h1>
<h2>Current Products in Cart</h2>
<ul>
    <li *ngFor="let product of products">
        <h2><span>Name: </span>{{product.name}}<span>Price: </span>{{product.price}}</h2>
        <button (click)="removeProduct(product.id)">Remove</button>
    </li>
</ul>
<p *ngIf = "isCartEmpty()">No Products In Cart</p>
<h3>Total: {{getTotalPrice()}}</h3>
<form>
    <label for="name">Name on Card: </label>
    <input type="text" id="name" name="name" maxlength="19" placeholder="Wizard Wizardington" required>
    <br>
    <label for="cc-number">Credit Card Number: </label>
    <input type="text" id="cc-number" name="cc-number" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="1234 5678 9012 3456" required>
    <br>
    <label for="cc-expiration">Expiration Date (MM/YY): </label>
    <input type="text" id="cc-expiration" name="cc-expiration" inputmode="numeric" pattern="(0[1-9]|1[0-2])\/?([0-9]{2})" placeholder="MM/YY" required>
    <br>
    <label for="cc-ccv">CCV: </label>
    <input type="text" id="cc-ccv" name="cc-ccv" inputmode="numeric" pattern="[0-9]{3,4}" placeholder="123" required>
    <br>
    <button [disabled]="isCartEmpty()" (click) = "handlePurchase()" type="submit">Purchase Cart</button>
</form>
