.layout-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  padding-top: 20px;
}
  
.card-information {
  flex-basis: 30%; /* Adjust based on your preference */
  max-width: 30%; /* Prevents the form from stretching too wide */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-img {
  z-index: -1;
}

.cauldron-container {
  flex-basis: 40%; /* Adjust based on your preference */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the cauldron vertically */
}

.extra-product-info {
  flex-basis: 30%; /* Adjust based on your preference */
}

.cauldron {
    position: relative;
    width: 79vh;
    height: 79vh;
    border-radius: 50%;
    border: 20px solid black;
    margin: auto;
    overflow: hidden;
}
  
.cauldron .swirl {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%; /* Adjust based on your design preference */
  height: auto; /* Maintain aspect ratio */
  transform: translate(-50%, -50%); /* Center the image */
  animation: rotateSwirl 20s linear infinite;
  z-index: -2;
}

@keyframes rotateSwirl {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.cauldron ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  padding: 0;
  list-style: none;
}

.cauldron ul li {
  width: 50%;
  height: auto; /* Adjusted to auto to accommodate content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
}

.cauldron img:not(.swirl) {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.cauldron h2 {
  font-size: smaller;
}

.card-product {
  opacity: 1;
}

#card-crafted {
  opacity: 0;
  animation: craft-fade-in 2s ease-in-out forwards;
}
.card-product {
  animation: craft-fade-out;
  animation-play-state: paused;
}

@keyframes craft-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes craft-fade-out {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

.input {
  width: 100%;
}

.heading {
  width: 100%;
}