/* Fonts, Palette, Type Scale */

@import url('https://fonts.googleapis.com/css?family=Vollkorn%20SC:700|Underdog:400');

:root {
    --text: #ffffff;
    --background: #230b2a;
    --primary: #791baf;
    --secondary: #b888dd;
    --accent: #f0bf0f;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
  font-family: 'Underdog';
  font-weight: 400;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, p, small {
  font-family: 'Vollkorn SC';
  font-weight: 700;
  color: var(--text);
  margin: 0;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}

img {
	-webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Cards */

.card {
	position: relative;
	width: 15vw;
	min-width: 150px;
	height: 20vw;
	min-height: 200px;
	display: inline-flex !important;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
}

.card.card-locked {
	justify-content: center;
}

.card.card-locked:hover {
	cursor: not-allowed;
}

/* Card Color */

.card.card-selected {
	border: solid 0.25rem rgb(from var(--primary) r g b / 0.5);
	background-color: rgb(from var(--primary) r g b / 0.25);
}

.card.card-unselected {
	border: solid 0.25rem rgb(from lightgray r g b / 0.5);
	background-color: rgb(from lightgray r g b / 0.25);
}

.card.card-locked {
	border: solid 0.25rem rgb(from black r g b / 0.5);
	background-color: rgb(from black r g b / 0.25);
}

.card > .card-glow {
    position: absolute;
}

.card.card-selected > .card-glow {
	filter: drop-shadow(0 0rem 0.25rem var(--primary));
}

.card.card-unselected > .card-glow {
	filter: drop-shadow(0 0rem 0.25rem lightgray);
}

.card.card-locked > .card-glow {
	filter: drop-shadow(0 0rem 0.25rem black);
}

.card.card-selected > .card-glow > div {
    background-color: var(--primary);
}

.card.card-unselected > .card-glow > div {
    background-color: lightgray;
}

.card.card-locked > .card-glow > div {
    background-color: black;
}

/* Card Side Graphics */

.card > .card-glow:has(.card-top) {
    width: 50%;
    height: 0.75rem;
    top: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
}

.card .card-top {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 100%, 10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.card > .card-glow:has(.card-right) {
    width: 0.75rem;
    height: 50%;
    top: 50%;
    right: -0.75rem;
    transform: translateY(-50%);
}

.card .card-right {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%, 0% 0%);
}

.card > .card-glow:has(.card-bottom) {
    width: 50%;
    height: 0.75rem;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
}

.card .card-bottom {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%, 0% 0%);
}

.card > .card-glow:has(.card-left) {
    width: 0.75rem;
    height: 50%;
    top: 50%;
    left: -0.75rem;
    transform: translateY(-50%);
}

.card .card-left {
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 100%, 0% 90%, 0% 10%, 100% 0%, 100% 100%);
}

/* Card Img */

.card > .card-img {
	max-height: 85%;
	flex-grow: 2;
}

/* Card Info */

.card > .card-info {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 15%;
	flex-grow: 1;
	font-size: calc(10px + 0.5vw);
}

.card.card-selected > .card-info {
	border-top: solid 0.25rem rgb(from var(--primary) r g b / 0.5);
}

.card.card-unselected > .card-info {
	border-top: solid 0.25rem rgb(from lightgray r g b / 0.5);
}

.card.card-locked > .card-info {
	border-top: solid 0.25rem rgb(from black r g b / 0.5);
}

.card > .card-info > .card-price {
	padding: calc(1px + 0.25vw) calc(3px + 0.5vw) calc(1px + 0.25vw) calc(3px + 0.5vw);
	border: solid 0.15rem var(--accent);
	border-radius: 1rem;
	color: var(--accent);
}