/* Fonts, Palette, Type Scale */

@import url("https://fonts.googleapis.com/css?family=Vollkorn%20SC:700|Underdog:400");

:root {
	box-sizing: border-box;

	--input-height: 2rem;

	--text: #ffffff;
	--background: #230b2a;
	--primary: #791baf;
	--secondary: #b888dd;
	--accent: #f0bf0f;

	--text-50: #f2f2f2;
	--text-100: #e6e6e6;
	--text-200: #cccccc;
	--text-300: #b3b3b3;
	--text-400: #999999;
	--text-500: #808080;
	--text-600: #666666;
	--text-700: #4d4d4d;
	--text-800: #333333;
	--text-900: #1a1a1a;
	--text-950: #0d0d0d;

	--background-50: #f6ebfa;
	--background-100: #edd7f4;
	--background-200: #dcaeea;
	--background-300: #ca86df;
	--background-400: #b95ed4;
	--background-500: #a736c9;
	--background-600: #862ba1;
	--background-700: #642079;
	--background-800: #431551;
	--background-900: #210b28;
	--background-950: #110514;

	--primary-50: #f5e9fc;
	--primary-100: #ead3f8;
	--primary-200: #d6a7f1;
	--primary-300: #c17bea;
	--primary-400: #ad4fe3;
	--primary-500: #9822dd;
	--primary-600: #7a1cb0;
	--primary-700: #5b1584;
	--primary-800: #3d0e58;
	--primary-900: #1e072c;
	--primary-950: #0f0316;

	--secondary-50: #f3ebf9;
	--secondary-100: #e7d7f4;
	--secondary-200: #d0afe9;
	--secondary-300: #b888dd;
	--secondary-400: #a160d2;
	--secondary-500: #8938c7;
	--secondary-600: #6e2d9f;
	--secondary-700: #522277;
	--secondary-800: #371650;
	--secondary-900: #1b0b28;
	--secondary-950: #0e0614;

	--accent-50: #fdf9e7;
	--accent-100: #fcf2cf;
	--accent-200: #f9e59f;
	--accent-300: #f6d96f;
	--accent-400: #f3cc3f;
	--accent-500: #f0bf0f;
	--accent-600: #c0990c;
	--accent-700: #907309;
	--accent-800: #604c06;
	--accent-900: #302603;
	--accent-950: #181302;
}

html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

body {
	font-family: "Underdog";
	font-weight: 400;
	background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
p,
small {
	margin: 0;
	color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Vollkorn SC";
	font-weight: 700;
}

html {
	font-size: 100%;
} /* 16px */

h1 {
	font-size: 3.053rem; /* 48.8px */
}

h2 {
	font-size: 2.442rem; /* 39.04px */
}

h3 {
	font-size: 1.954rem; /* 31.2px */
}

h4 {
	font-size: 1.563rem; /* 24.96px */
}

h5 {
	font-size: 1.25rem; /* 20px */
}

small {
	font-size: 0.8rem; /* 12.8px */
}

img {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Radio Styles */

.radio-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.radio-container .radio-parent {
	margin-right: calc(var(--input-height) / 2);
}
.radio-container .radio-parent:last-of-type {
	margin-right: 0;
}

.radio-parent {
	display: flex;
	flex-direction: row;
	width: min-content;
	height: auto;
}

.radio-parent .radio-child:first-of-type {
	border-top-left-radius: var(--input-height);
	border-bottom-left-radius: var(--input-height);
}

.radio-parent .radio-child:last-of-type {
	border-top-right-radius: var(--input-height);
	border-bottom-right-radius: var(--input-height);
}

.radio-child {
	position: relative;
	width: var(--input-height);
	height: var(--input-height);
	background-color: var(--secondary-800);
	border: solid 0.1rem var(--secondary-800);
    box-sizing: border-box;
	color: var(--text);
	cursor: pointer;
	transition: transform 150ms, background-color 150ms ease-in-out, color 150ms ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-child:has(input:checked) {
	background-color: var(--primary);
	border-color: var(--primary);
}

.radio-child:hover {
	background-color: transparent;
	color: var(--secondary);
}

.radio-child:has(input:checked):hover {
	background-color: var(--primary-700);
	border-color: var(--primary);
	color: var(--secondary-100);
}

.radio-child:active {
	transform: translateY(calc(var(--input-height) / 20));
	color: var(--text);
	background-color: var(--secondary);
	border: solid 0.1rem var(--secondary);
}
.radio-child:has(input:checked):active {
	color: var(--text);
	background-color: var(--secondary);
	border: solid 0.1rem var(--secondary);
}

.radio-child input[type="radio"] {
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

.radio-child span:first-of-type {
	position: absolute;
	aspect-ratio: 1;
	width: 100%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: calc(var(--input-height) / 2);
	text-align: center;
	line-height: 0;
}

.radio-child span:first-of-type p {
	margin: 0;
}

/* Buttons */

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: var(--input-height);
	/* box-sizing: border-box; */
	padding: calc(4px + 0.25vw) calc(8px + 0.5vw) calc(4px + 0.25vw) calc(8px + 0.5vw);

	color: var(--text);
	background-color: var(--primary);
	border: solid 0.1rem var(--primary);
	border-radius: 1rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	transition: ease-in-out 0.15s background-color, ease-in-out 0.15s color,
		ease-in-out 0.15s border-color;
}

.button:disabled {
	color: var(--text-300);
	background-color: var(--primary-800);
	pointer-events: none;
	border-color: transparent;
}

.button:enabled:hover {
	color: var(--secondary);
	background-color: transparent;
	border: solid 0.1rem var(--primary);
}

.button:enabled:active {
	color: var(--text);
	background-color: var(--secondary);
	border: solid 0.1rem var(--secondary);
}

/* Buttons with Icons */

.button:has(i) {
	column-gap: 0.75rem;
}

/* Inputs with Icon */

.input {
	all: unset;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.75rem;
	width: max-content;
	height: var(--input-height);
	box-sizing: border-box;
	padding: calc(4px + 0.25vw) calc(8px + 0.5vw) calc(4px + 0.25vw) calc(8px + 0.5vw);

	color: var(--text);
	font-weight: bold;
	background-color: var(--secondary-800);
    /* border: solid var(--secondary) 0.1rem; */
	border-radius: 1rem;
}
.input.fill-width {
    width: 100%;
}

.input > input {
	font-family: inherit;
	color: var(--text);
	background-color: transparent;
	border: none;
	border-bottom: solid 0.1rem var(--secondary);
	outline: none;
    width: 100%;
    height: 100%;
}

.input > input::placeholder {
	color: var(--secondary);
}

/* ToolTip */

*[tooltip] {
	position: relative;
}
*[tooltip]::before {
	all: unset;
	position: absolute;
	display: inline-block;
	content: attr(tooltip);
	width: max-content;
	top: -35px;
	background-color: var(--secondary-800);
	color: var(--secondary-100);
	/* margin-left: auto;
	margin-right: auto; */
	font-size: 1rem;
	border-radius: 8px;
	padding: 0.25rem;
	visibility: hidden;
	z-index: 1;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}
*[tooltip]:hover::before {
	animation: show 50ms;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
/* *[tooltip]::after::after {
	position: absolute;
	bottom: 0;
	width: 0.1rem;
	height: 0.1rem;
	border-left: 100% solid transparent;
	border-right: 100% solid transparent;
	border-bottom: 100% solid red;
} */
@keyframes show {
	from {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}

/* Headings */

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.heading > .underline {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2vh;
	width: 100%;
	background-color: var(--accent);
	clip-path: polygon(
		-2vh 0,
		0 0,
		0 40%,
		calc(100% + 1px) 40%,
		calc(100% + 1px) 0%,
		calc(100% + 2vh) 0%,
		calc(100% + 2vh) 100%,
		calc(100% + 1px) 100%,
		calc(100% + 1px) 60%,
		0% 60%,
		0% 100%,
		-2vh 100%,
		-2vh 0
	);
}

.heading > .underline::before {
	position: absolute;
	content: "";
	background-image: url("/assets/underline-side.png");
	background-size: cover;
	top: 0%;
	left: -2vh;
	width: 2vh;
	height: 2vh;
}

.heading > .underline::after {
	position: absolute;
	content: "";
	background-image: url("/assets/underline-side.png");
	background-size: cover;
	top: 0%;
	right: -2vh;
	width: 2vh;
	height: 2vh;
}
