<div class="wrapper" id="catalog">
	<div id="catalog-option-container">
		<div id="catalog-option">
			<app-progress-bar></app-progress-bar>
		</div>
		<div id="catalog-option">
			<div class="input fill-width">
				<i class="fa-solid fa-search"></i>
				<input
					#searchBox
					id="catalog-search"
					type="text"
					placeholder="Search for Spell"
					(input)="searchProducts(searchBox.value)"
				/>
			</div>
		</div>
		<div id="catalog-option">
			<div class="radio-container">
				<form class="radio-parent">
					<label class="radio-child" tooltip="By Completion">
						<input
							type="radio"
							name="group"
							checked
							(change)="updateProducts((groupBy = 'completion'))"
						/>
						<span><i class="fa-solid fa-lock"></i></span>
					</label>
					<label class="radio-child" tooltip="By Type">
						<input
							type="radio"
							name="group"
							(change)="updateProducts((groupBy = 'type'))"
						/>
						<span><i class="fa-solid fa-shapes"></i></span>
					</label>
				</form>
				<form class="radio-parent">
					<label class="radio-child" tooltip="By ID">
						<input
							type="radio"
							name="sort"
							checked
							(change)="updateProducts((sortBy = 'byID'))"
						/>
						<span><i class="fa-solid fa-hashtag"></i></span>
					</label>
					<label class="radio-child" tooltip="Alphabetically">
						<input
							type="radio"
							name="sort"
							(change)="updateProducts((sortBy = 'alphabetically'))"
						/>
						<span><i class="fa-solid fa-font"></i></span>
					</label>
					<label class="radio-child" tooltip="High to Low">
						<input
							type="radio"
							name="sort"
							(change)="updateProducts((sortBy = 'high-low'))"
						/>
						<span
							><i class="fa-solid fa-dollar-sign"></i
							><i class="fa-solid fa-arrow-up"></i
						></span>
					</label>
					<label class="radio-child" tooltip="Low to High">
						<input
							type="radio"
							name="sort"
							(change)="updateProducts((sortBy = 'low-high'))"
						/>
						<span
							><i class="fa-solid fa-dollar-sign"></i
							><i class="fa-solid fa-arrow-down"></i
						></span>
					</label>
				</form>
				<form class="radio-parent">
					<label class="radio-child" tooltip="Filter Nothing">
						<input
							type="radio"
							name="filter"
							checked
							(change)="updateProducts((filter = 'none'))"
						/>
						<span><i class="fa-solid fa-ban"></i></span>
					</label>
					<label class="radio-child" tooltip="Filter Locked">
						<input
							type="radio"
							name="filter"
							(change)="updateProducts((filter = 'locked'))"
						/>
						<span><i class="fa-solid fa-lock"></i></span>
					</label>
					<label class="radio-child" tooltip="Filter Unlocked">
						<input
							type="radio"
							name="filter"
							(change)="updateProducts((filter = 'unlocked'))"
						/>
						<span><i class="fa-solid fa-unlock"></i></span>
					</label>
				</form>
				<!-- <form class="radio-parent">
                    <label class="radio-child">
                        <input type="radio" name="filter" />
                        <span><p>d</p></span>
                    </label>
                </form> -->
			</div>
		</div>
	</div>
	<div id="catalog-products">
		<div *ngIf="allProducts.length > 0; else elseBlock">
			<app-card-group
				*ngFor="let productGroup of groupsKeys()"
				[title]="productGroup"
				[products]="groups[productGroup]"
			></app-card-group>
		</div>
		<ng-template id="catalog-products-empty" #elseBlock>No products found</ng-template>
	</div>
	<div
		id="catalog-cart-view"
		class="{{ getCurrentUserCart().length > 0 ? 'catalog-cart-view-active' : '' }}"
	>
		<app-card-group [title]="'Cart View'" [products]="getCurrentUserObjectCart()"></app-card-group>
	</div>
</div>
