<div id = "registerBox" class="register-box">
    <div class="heading">
        <h3>Registration</h3>
        <div class="underline"></div>
    </div>
    <div class=register-elements>
        <div class="register-fields">
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <P>Username:</P>
                <input type="text" placeholder="Enter Username" [(ngModel)]='username'>
            </div>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <p>Password:</p>
                <input type="password" placeholder="Enter Password" (change)="(0)" [(ngModel)]='password'>
            </div>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <p>Confirm Password:</p>
                <input type="password" placeholder="Enter Password" (change)="(0)" [(ngModel)]='passwordConfirm'>
            </div>
        </div>
        <div class="register-buttons">
            <div class = "back-button">
                <button class="button" (click)="animateRegister(['/login'])">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back To Login
                </button>
            </div>
            <div class = "register-button">
                <button class="button" (click)="registerOnClick(username,password)">
                    Register<i class="fa-solid fa-scroll"></i>
                </button>
            </div>
        </div>
        <p *ngIf="showErrorMessage">User Already Exists</p>
        <p *ngIf="showPasswordsDontMatch()">Passwords Don't Match</p>
        <p *ngIf="!isStrongPassword() && password !== ''">Password Must Contain At Least 8 Letters, 1 Uppercase, 1 Digit, 1 Symbol</p>
        <p *ngIf="!fieldsFull() && this.buttonClicked">All Fields Required</p>
    </div>
</div>