<p *ngIf="showValidityError">Please enter a valid name, price, and quantity before continuing.</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products">
        <!-- Existing Products -->
        <td>{{product.id}}</td>
        <td>
            <input type="text" placeholder="Enter Name" value={{product.name}} (change)="(0)" #name>
        </td>
        <td>
            <select (change)="(0)" #type>
                <option *ngFor="let type of types" value={{type}} [selected]="type === product.type.toString()">{{type}}</option>
            </select>
        </td>
        <td>$
            <input type="number" placeholder="Enter Price" min="0" step="0.01" value={{product.price}} (change)="(0)" required #price>
        </td>
        <td>
            <input type="number" placeholder="Enter Quantity" min="0" pattern="\d+" value={{product.quantity}} (change)="(0)" required #quantity>
        </td>
        <td>
            <button (click)="save(product, name.value, type.options[type.selectedIndex].text, price, quantity)" 
                    [disabled]="!hasChanged(product, name.value, type.options[type.selectedIndex].text, price, quantity)">Save</button>
            <button (click)="delete(product.id)">Delete</button>
        </td>
    </tr>
    <tr>
        <!-- Create Product -->
        <td></td>
        <td>
            <input type="text" placeholder="Enter Name" #name>
        </td>
        <td>
            <select #type>
                <option *ngFor="let type of types" value={{type}} >{{type}}</option>
            </select>
        </td>
        <td>$
            <input type="number" placeholder="Enter Price" min="0" step="0.01" required #price>
        </td>
        <td>
            <input type="number" placeholder="Enter Quantity" min="0" pattern="\d+" required #quantity>
        </td>
        <td>
            <button (click)="create(name.value, type.options[type.selectedIndex].text, price, quantity)">Create</button>
        </td>
    </tr>
</table>