#card-group {
	position: relative;
	margin-bottom: 2rem;
	width: 100%;
}

#card-group-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 1rem;
	/* gap: 2rem; */

    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
    gap: 2rem;
    align-content: space-around;
}

.card-group-child {
	flex-basis: calc(25% - 1.5rem);
	flex-grow: auto;
}
