#card-group {
	position: relative;
	margin-top: 2rem;
	width: 100%;
}

#card-group-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
	gap: 2rem;
	margin-top: 1rem;
    gap: 2rem;
}

.card-group-child {
    flex-basis: calc(25% - 1.5rem);
    flex-grow: auto;
}
