<form (submit)="onClick(username.value, password.value)">
	<label for="new-user-username">Username: </label>
	<input #username id="new-user-username" name="login" [(ngModel)]="usernameValue" />

	<label for="new-user-password">Password: </label>
	<input #password type="password" id="new-user-password" name="login" [(ngModel)]="passwordValue" />

	<button name="login" (click)="onClick(username.value, password.value)">Login</button>
	<p *ngIf="showErrorMesssage()">Error - Incorrect Username or Password</p>
</form>

<a routerLink="/register">Not a member? Register Here</a>
