body {
    overflow-y: hidden;
}

.login-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    padding-top: 50px;
    width: 400px;
    opacity: 0;
    animation: login-animation 750ms ease-in forwards;
}

@keyframes login-animation {
    to {
        opacity: 1;
    }
}

@keyframes arrow-animation {
    0% { transform: translateX(0); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}



.register-button:hover{
    .fa-solid{
        animation: arrow-animation 750ms linear infinite;
    }
}


.login-buttons {
    padding: 10px;
    display: flex;
    justify-content:center;
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
    margin-bottom: 10px;
}


.heading {
    display: flex;
    align-items: center;
    text-align: center;
    width:100%;
    margin-bottom: 10%;
}

.login-fields {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input {
    min-width: 59%;
    justify-content:flex-start;
    margin-bottom: 40px;
}

.login-elements {
    padding-top: 50px;
    border: 7px solid;
    border-radius: 10px;
    box-shadow: 5px 18px 10px 10px rgb(0 0 0 / 0.4);
}