.login-box{
    border: 7px solid;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 13px 18px 10px rgb(0 0 0 / 0.4);
    width: 400px;;
}
.login-buttons{
    padding: 10px;
    display: flex;
    justify-content:center;
    margin-top: 50px
}
.login-button{
    margin-right: 45%;
}

.heading{
    display: flex;
    align-items: center;
    text-align: center;
    width:100%;
    margin-bottom: 10%;
}

.login-fields{
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 30px;
    
}