.login-box{
    border: 5px solid;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    background-color:#b888dd;
    padding-top: 50px;
}
.login-buttons{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10%;
    margin-top: 100px;
}
