<!-- Cards -->
<div style="display: flex; flex-direction: row;">
  <div class="card-wrapper">
    <div class="card card-selected" style="--card-color: #8f1e1e; margin: 50px; display: inline-block">
      <div class="card-img">
        <img src="https://static.vecteezy.com/system/resources/previews/021/698/212/original/ball-of-fire-glowing-magma-sphere-fireball-large-sphere-of-red-energy-fantasy-game-spell-icon-generative-ai-png.png">
      </div>
      <div class="card-info">
        <p>Product</p>
        <div class="card-price">$10.99</div>
      </div>
      <div class="card-glow"><div class="card-top"></div></div>
      <div class="card-glow"><div class="card-right"></div></div>
      <div class="card-glow"><div class="card-bottom"></div></div>
      <div class="card-glow"><div class="card-left"></div></div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card" style="--card-color: #4059cc; margin: 50px; display: inline-block">
      <div class="card-img">
        <img src="/assets/spell_images/boulder.png">
      </div>
      <div class="card-info">
        <p>Product</p>
        <div class="card-price">$10.99</div>
      </div>
      <div class="card-glow"><div class="card-top"></div></div>
      <div class="card-glow"><div class="card-right"></div></div>
      <div class="card-glow"><div class="card-bottom"></div></div>
      <div class="card-glow"><div class="card-left"></div></div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card" style="margin: 50px; display: inline-block">
      <div class="card-img">
        <img src="https://i.imgur.com/qPuLjji.png">
      </div>
      <div class="card-info">
        <p>LOCKED</p>
        <div class="card-price">$??.??</div>
      </div>
      <div class="card-glow"><div class="card-top"></div></div>
      <div class="card-glow"><div class="card-right"></div></div>
      <div class="card-glow"><div class="card-bottom"></div></div>
      <div class="card-glow"><div class="card-left"></div></div>
    </div>
  </div>
</div>

<!-- Headings -->
<div class="heading" style="width: 33vw; margin-left: 100px">
  <h3>Test Heading 123</h3>
  <div class="underline"></div>
</div>

<!-- Buttons -->
<button class="button">Testing</button>
<button class="button" disabled>Testing</button>
<button class="button"><i class="fa-solid fa-book"></i>Testing</button>
<button class="button" disabled><i class="fa-solid fa-book"></i>Testing</button>

<!-- Inputs -->
<div class="input">
  <i class="fa-solid fa-user"></i>
  Username:
  <input type="text" placeholder="Enter Username">
</div>
<div class="input">
  <i class="fa-solid fa-lock"></i>
  Password:
  <input type="password" placeholder="Enter Password">
</div>

<!-- Radios -->
<div class="radio-container">
  <form class="radio-parent">
    <label class="radio-child">
      <input type="radio" name="test" checked>
      <span><i class="fa-solid fa-font"></i></span>
    </label>
    <label class="radio-child">
      <input type="radio" name="test">
      <span><i class="fa-solid fa-dollar-sign"></i></span>
    </label>
  </form>
</div>