<div style="display: flex; flex-direction: row;">
  <div class="card card-selected" style="margin: 50px; display: inline-block">
    <div class="card-img">
      <img src="https://static.vecteezy.com/system/resources/previews/021/698/212/original/ball-of-fire-glowing-magma-sphere-fireball-large-sphere-of-red-energy-fantasy-game-spell-icon-generative-ai-png.png">
    </div>
    <div class="card-info">
      <p>Product</p>
      <div class="card-price">$10.99</div>
    </div>
    <div class="card-glow"><div class="card-top"></div></div>
    <div class="card-glow"><div class="card-right"></div></div>
    <div class="card-glow"><div class="card-bottom"></div></div>
    <div class="card-glow"><div class="card-left"></div></div>
  </div>

  <div class="card card-unlocked" style="margin: 50px; display: inline-block">
    <div class="card-img">
      <img src="https://static.vecteezy.com/system/resources/previews/021/698/212/original/ball-of-fire-glowing-magma-sphere-fireball-large-sphere-of-red-energy-fantasy-game-spell-icon-generative-ai-png.png">
    </div>
    <div class="card-info">
      <p>Product</p>
      <div class="card-price">$10.99</div>
    </div>
    <div class="card-glow"><div class="card-top"></div></div>
    <div class="card-glow"><div class="card-right"></div></div>
    <div class="card-glow"><div class="card-bottom"></div></div>
    <div class="card-glow"><div class="card-left"></div></div>
  </div>
  
  <div class="card" style="margin: 50px; display: inline-block">
    <div class="card-img">
      <img src="https://i.imgur.com/qPuLjji.png">
    </div>
    <div class="card-info">
      <p>LOCKED</p>
      <div class="card-price">$??.??</div>
    </div>
    <div class="card-glow"><div class="card-top"></div></div>
    <div class="card-glow"><div class="card-right"></div></div>
    <div class="card-glow"><div class="card-bottom"></div></div>
    <div class="card-glow"><div class="card-left"></div></div>
  </div>
</div>

<div class="button">Testing</div>
<div class="button button-disabled">Testing</div>
<div class="button"><i class="fa-solid fa-book"></i>Testing</div>