<!-- Cards -->
<div style="display: flex; flex-direction: row;">
  <div class="card-wrapper">
    <div class="card card-selected" style="--card-color: #8f1e1e; margin: 50px; display: inline-block">
      <div class="card-img">
        <img src="https://static.vecteezy.com/system/resources/previews/021/698/212/original/ball-of-fire-glowing-magma-sphere-fireball-large-sphere-of-red-energy-fantasy-game-spell-icon-generative-ai-png.png">
      </div>
      <div class="card-info">
        <p>Product</p>
        <div class="card-price">$10.99</div>
      </div>
      <div class="card-glow"><div class="card-top"></div></div>
      <div class="card-glow"><div class="card-right"></div></div>
      <div class="card-glow"><div class="card-bottom"></div></div>
      <div class="card-glow"><div class="card-left"></div></div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card" style="--card-color: #4059cc; margin: 50px; display: inline-block">
      <div class="card-img">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/39da6277-d7e8-4885-9cd8-12328bbe53a9/dgcceyv-33e05374-edc3-4958-afa8-d0a0ab1c0428.png/v1/fill/w_800,h_800/ice_spellbook_by_trulymalicious_dgcceyv-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6IlwvZlwvMzlkYTYyNzctZDdlOC00ODg1LTljZDgtMTIzMjhiYmU1M2E5XC9kZ2NjZXl2LTMzZTA1Mzc0LWVkYzMtNDk1OC1hZmE4LWQwYTBhYjFjMDQyOC5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.7jQhGO3mnZGt-wH3qWyix37wQQOszGbCPntTdz_xdAw">
      </div>
      <div class="card-info">
        <p>Product</p>
        <div class="card-price">$10.99</div>
      </div>
      <div class="card-glow"><div class="card-top"></div></div>
      <div class="card-glow"><div class="card-right"></div></div>
      <div class="card-glow"><div class="card-bottom"></div></div>
      <div class="card-glow"><div class="card-left"></div></div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card" style="margin: 50px; display: inline-block">
      <div class="card-img">
        <img src="https://i.imgur.com/qPuLjji.png">
      </div>
      <div class="card-info">
        <p>LOCKED</p>
        <div class="card-price">$??.??</div>
      </div>
      <div class="card-glow"><div class="card-top"></div></div>
      <div class="card-glow"><div class="card-right"></div></div>
      <div class="card-glow"><div class="card-bottom"></div></div>
      <div class="card-glow"><div class="card-left"></div></div>
    </div>
  </div>
</div>

<!-- Headings -->
<div class="heading" style="width: 33vw; margin-left: 100px">
  <h3>Test Heading 123</h3>
  <div class="underline"></div>
</div>

<!-- Buttons -->
<button class="button">Testing</button>
<button class="button" disabled>Testing</button>
<button class="button"><i class="fa-solid fa-book"></i>Testing</button>
<button class="button" disabled><i class="fa-solid fa-book"></i>Testing</button>

<!-- Inputs -->
<div class="input">
  <i class="fa-solid fa-user"></i>
  Username:
  <input type="text" placeholder="Enter Username">
</div>
<div class="input">
  <i class="fa-solid fa-lock"></i>
  Password:
  <input type="password" placeholder="Enter Password">
</div>

<!-- Radios -->
<form class="radio-parent">
  <label class="radio-child">
    <input type="radio" name="test" checked>
    <span>Test 1</span>
  </label>
  <label class="radio-child">
    <input type="radio" name="test">
    <span>Test 2</span>
  </label>
</form>